<!-- components/header.html -->
<a href="#" class="logo-group">
    <img src="assets/logo.png" alt="Logo" class="logo-icon">
    <span class="logo-text"><a href="/public/personal.html" style="text-decoration: none; color: inherit;">Galaxy Pro</a></span>
</a>
<nav>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#features">features.html</a></li>
        <li><a href="#about">about.html</a></li>
        <li><a href="#contact">contact.html</a></li>
        <li><a href="#profile">profile.html</a></li>
    </ul>
</nav>
